<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GeoAPI" version="1.7.3" targetFramework="net452" />
  <package id="Iesi.Collections" version="4.0.0.4000" targetFramework="net452" />
  <package id="MySql.Data" version="6.9.8" targetFramework="net452" />
  <package id="NetTopologySuite" version="1.13.3.2" targetFramework="net452" />
  <package id="NetTopologySuite.IO" version="1.13.3.2" targetFramework="net452" />
  <package id="NHibernate" version="4.0.2.4000" targetFramework="net452" />
  <package id="NHibernate.Spatial" version="2.2.0" targetFramework="net452" />
  <package id="NHibernate.Spatial.MySQL" version="4.0.4.4000" targetFramework="net452" />
</packages>